  body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top, #1f1f3a, #0f0f1a);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.perfil-contenedor {
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 50%;
  padding: 4px;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

.perfil {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.titulo {
  margin-top: 12px;
  font-size: 28px;
}

.subtitulo {
  color: #aaa;
  font-size: 14px;
}

.descripcion {
  font-size: 14px;
  margin: 15px 0;
}

.btn {
  display: block;
  margin: 8px 0;
  padding: 12px;
  border-radius: 12px;
  background: #6bf1c8;
  color: #0f0f1a;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-outline {
  display: block;
  margin-top: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #6bf1c8;
  color: #6bf1c8;
  text-decoration: none;
  font-weight: bold;
}
.galeria-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
  margin-top: 20px;
}
.galeria-grid img {
  width: 100%;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.galeria-grid img:hover {
  transform: scale(1.05);
}
.visor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.92);
  justify-content: center;
  align-items: center;
}

.visor img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}
.cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}

.prev, .next {
  position: absolute;
  top: 50%;
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
  user-select: none;
}

.prev {
  left: 20px;
  color:#696969;
}

.next {
  right: 20px;
  color:#696969;
  }
